/* / styles.css / */
body {
  background-color:white; 
}

body, html {
  margin: 5px;
  padding: 5px;
}

.main-container {
  margin-top: 20px; 
  margin-left: 270px;
  margin-bottom: 20px;
  padding-top: 10px;
}

.content {
  margin-left: 10px; /* Adjust the margin as needed */
}


.title-container h1 {
  font-size: 60px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}


.main-content {
  margin-top: 20px;
  padding: 20px;
  background-color: #f9f9f9; /* or use a gradient */
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

button {
  background-color: rgb(0, 179, 255);
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #007bbf; /* Darken the color on hover */
}

table {
  max-width: 800px; /* Adjust the maximum width as needed */
  width: 100%; /* Ensure the table takes full available width */
  border-collapse: collapse;
}

table th,
table td {
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

table tr:nth-child(even) {
  background-color: #f2f2f2;
}

table th {
  background-color: #f5f5f5;
}

thead th {
    text-align: left;
  }

/* Increase the height of the dropdown */
select {
  height: 30px; /* Adjust the height as needed */
}





.logo-container {
  position: fixed;
  top: 10px; 
  left: 10px; 
  z-index: 1;
  margin-left: 30px; 

}

.logo-container img {
  width: 120px; 
  height: auto; 
}

.title-container {
  top: 0;
  left: 10%; /* Center the title horizontally */
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  margin-top: 10px;
  margin-bottom: 70px;
  padding: 10px;
}

h1 {
  margin: 0;
  color: rgb(0, 119, 255);
  font-size: 56px; 
  font-style:normal;
 
}

.sidebar {
  height: 100%;
  width: 200px;
  position: fixed;
  top: 0;
  left: 0;
  background-color: black;
  padding-top: 20px;
 
}

.sidebar a {
  padding: 8px 8px 8px 16px;
  text-decoration: none;
  font-size: 23px;
  color: rgb(0, 179, 255);
  display: block;
  margin-top: 120px;
}

.sidebar a:hover {
  color: #f1f1f1;
}